body{background-color:#A0B97A; margin: 100px; text-align: center;}
h1{color:#ECE808; font-size: 100px}
h2{border:13px solid #150; color:#1E5700; background-color:#FBFEA3; padding: 15px; font-size: 40px}
h3{color:#0058C9;}
h4{color: #000; font-family:sans-serif;}
p{color:#0E4602}
a{#color:#ECE808; text-decoration: none;}
p.attribution{font-size:12px}
